$text-red: #d22856;
$text-color: #283645;
$text-white: #fff;
$text-black: #000;
$bg-dark-blue: #1d2631;
$bg-color: #fff;

$base-font-family: "Open Sans", sans-serif;
$base-font-size: 14px;
$base-line-height: 30px;

$min-tablet-width: "min-width: 660px";
$min-desktop-width: "min-width: 1200px";
